In [ ]:
# This is the print function

In [ ]:
print("Hii")

Hii

In [ ]:
print("How are you?")

How are you?

In [ ]:
# I am using single line comment here by using '#'.

In [ ]:
# Now we are using multi-line comment using triple quotation mark ("""")

In [ ]:
""" hii
i 
am 
pooja
ganesh
rahamatkar"""

' hii\ni \nam \npooja\nganesh\nrahamatkar'

In [ ]:
# Now we are using variables....

In [ ]:
n = 30

In [ ]:
# we can name the variable in character/string or in special character only not in numeric character.

In [ ]:
a = 3

In [ ]:
_b = 5

In [ ]:
3b = 3

SyntaxError: ignored

In [ ]:
# type() :- It prints what type of data structures are used to store the data elements in a program.

In [ ]:
type(a)

int

In [ ]:
# Boolean 
  # boolean represent two values :- True or False

In [ ]:
print(True + True)

2

In [ ]:
print(True + True + True + False + True)

4

In [ ]:
print(False - True + True)

0

In [ ]:
True * True

1

In [ ]:
True / False

ZeroDivisionError: ignored

In [ ]:
## Here 45 is a Real number, 6 is a Imaginary number and j is a notation for imaginary number

In [ ]:
n = 45 + 6j

In [ ]:
type(n)

complex

In [ ]:
n

(45+6j)

In [ ]:
# To get exact value of expression

In [ ]:
# Real number are numbers that included both rational and irrational numbers.

In [ ]:
n.real

45.0

In [ ]:
n.imag

6.0

In [ ]:
b = 'sdf'
type(b)

str

In [ ]:
# hytrogenious data type
# error because datatypes are not same
1 + 'sudh'

TypeError: ignored

In [ ]:
# We using Type casting Converting integer to string.
str(1)+ 'sudh'

'1sudh'

In [ ]:
'1' + 'sudh'

'1sudh'

In [ ]:
1 + 1.0

2.0

In [ ]:
'How' + 'are' + 'you'

'Howareyou'

In [ ]:
'How'+3

TypeError: ignored

In [ ]:
'you'*3

'youyouyou'

In [ ]:
## Get input from user
a = input()

54

In [ ]:
a

'54'

In [ ]:
b = input('Enter your name')

Enter your nameMy name is pooja

In [ ]:
b

'My name is pooja'

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
## Que 1 :- Take 3 integer input from user using input()

In [ ]:
a = input()
b = input()
c = input()

2
6
4

In [ ]:
# After that I have to perform (a + b) / c operation

In [ ]:
 d = (a + b)

In [ ]:
d

'26'

In [ ]:
e = int(d) / int(c)

In [ ]:
e

6.5

In [ ]:
# After performing the operation I have to concate my name with output of the opration

In [ ]:
str(e) + "Pooja"

'6.5Pooja'

In [ ]:
# Another way to solving this Question

In [ ]:
# Take input from user and convert input in integer.

In [ ]:
a = int(input('This is my Var a'))
b = int(input('This is my Var b'))
c = int(input('This is my Var c'))

This is my Var a21
This is my Var b33
This is my Var c4

In [ ]:
o = (a + b) / c

In [ ]:
o

13.5

In [ ]:
type(o)

float

In [ ]:
ol = d + "Pooja"

TypeError: ignored

In [ ]:
ol = str(o) + "Pooja"

In [ ]:
ol

'13.5Pooja'

In [ ]:
# Decision taking statement

In [ ]:
# If statement

In [ ]:
a = int(input("Input a number less then 34 .. "))

Input a number less then 34 .. 32

In [ ]:
a

32

In [ ]:
if a < 34 :
  pass

In [ ]:
if a < 34 :

SyntaxError: ignored

In [ ]:
if a < 34 :
  print('Value input is lesser than 34 and I am fine with it')

Value input is lesser than 34 and I am fine with it

In [ ]:
a = int(input("input a number"))
if a < 34 :
  print("A is less than 34")

input a number24
A is less than 34

In [ ]:
a = int(input("input a number"))
if a < 34 :
  print("A is less than 34")

input a number53

In [ ]:
# If else statement

In [ ]:
a = int(input("input a number"))
if a < 34 :
  print("A is less than 34")
else :
  print("A is not less than 34")

input a number52
A is not less than 34

In [ ]:
# If .. elif .. else statement

In [ ]:
a = int(input("input a number"))
if a < 34 :
  print("A is less than 34")
elif a < 100:
  print("A is lesser than 100")
else :
  print("A is not less than 34")

input a number68
A is lesser than 100

In [ ]:
salary = int(input("enter your salary : "))
if salary < 1000 :
  print("I will buy a car")
elif salary < 500 :
  print("I will go for bike")
elif salary < 100 :
  print("I will not buy anything")
else :
  print("I will go for saving")

enter your salary : 200
I will buy a car

In [ ]:
# Nested If else statement

In [ ]:
salary = int(input("enter your salary"))
if(salary > 1000):
  print("you salary is good")
  if salary > 5000:
    print("I will go with a car nano")
    if True :
      print("false code")
  elif salary > 10000:
    print("I will go with maruti")
  elif salary > 50000:
    print("I will go with toyota")
  else :
    print("I will rent a car")
elif salary > 500:
  print("I will not buy anything")
elif salary > 100 :
  print("I will not buy anything")
else :
  print("I will go for saving")

enter your salary10056
you salary is good
I will go with a car nano
false code